<body>
    <main>
        <div class="container">
            <p id="demo"></p>
            <section class="mainsection">
                <div class="petBlock">
                    <div class="photo">
                        <img  class="photoimg" src="img/logo.png" alt="">
                    </div>
                    <h2>Ім'я</h2>
                    <h3>Вік</h3>
                    <p>Біографія</p>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="addblock" style="transform: translateY(-50px);">
                        <div class="close">
                            <div></div>
                            <div class="divtwo"></div>
                        </div>
                        <h2>Покажіть вашого улюбленця світові!</h2>
                        <p>Але спочатку заповність анкету</p>

                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" style="border: none;" class="nameinput"  required>
                                <label>Ім'я</label>
                            </div>
                        </div>


                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" style="border: none;"  class="ageinput"  required>
                                <label>Вік</label>
                            </div>
                        </div>

                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" style="border: none;" class="biopet" required>
                                <label>Біографія</label>
                            </div>
                        </div>
                        <input type="file" id="fileInput" accept="image/*" class="inputac"><br>
                        <button type="submit" class="sent">Відправити</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="js/animal.js"></script>
</body>